html , body {
		font-family: 'Geo', sans-serif;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background: #62bdc8;
		height: 100%;
		width: 100%;
	}
	p, div, h1, h2, h3 {
		padding: 0;
		margin: 0;
	}
	a img {
		border: none;
	}
	.rap {
		width: 100%;
		height: 100%;
		position: relative;
	}

	.clouds {
		position: absolute;
		width: 100%;
		bottom : 20%;
		height: 216px;
		background: url('../images/clouds.png');
	}
	canvas {
		margin: 0;
		padding: 0;
		position: absolute;

		top : 0; left: 0;
		
	} 
	.score {
		position: absolute;
		width: 100px;
		text-align: center;
		right: 50%;
		top: 14%;
		margin-right: -50px;
		color: white;
		font-size: 4em;
		text-shadow: -4px 0px 0px #000, 4px 0px 0px #000, 0px -4px 0px #000, 0px 4px 0px #000;
		-webkit-user-select: none; /* Chrome/Safari */        
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* IE10+ */

		/* Rules below not implemented in browsers yet */
		-o-user-select: none;
		user-select: none;
		
	}
	.flappyb {
		position: absolute;
		width: 100%;
		
		top: 8%;
		text-align: center;
	}
	.flappyb img {
		width: 76%;
		max-width: 478px;
	}

	.logowrap {
		position: absolute;
		
		bottom: 0%;
		width: 100%;
		text-align: center;
		
	}

	.logowrap p {
		color: #c8a457;
		margin-left: -4%;
		margin-bottom: 4px;
		font-size: 1.2em;
	}

	.logowrap img {
		width: 32%;
		max-width: 218px;
	}

	.subtitle {
		/*position: absolute;
		display: block;*/
		font-size: 3em;
		color: white;
		top: 38%;
		text-align: center;
		width: 100%;
	}

	.readywrap {
		position: absolute;
		top: 26%;
		width: 100%;
		text-align: center;
	}

	.readywrap img {
		max-width: 90%;
	}

	.uibutton {
		position: absolute;
		display: block;
		
		min-width: 28%;
		height:50px;
		line-height: 50px;
		text-align: center;
		background: #ddac00;
		font-size: 3em;
		text-shadow: 2px 2px #a08900;
		box-shadow: 0px 0px 0px 4px #ba9c22, 0px 0px 0px 8px #eee3d7, 0px 0px 0px 12px #502e00;
		-webkit-user-select: none; /* Chrome/Safari */        
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* IE10+ */

		/* Rules below not implemented in browsers yet */
		-o-user-select: none;
		user-select: none;
	}
		.playbtn {
			left: 12%;
			top: 65%;
		}
		.scorebtn {
			right: 12%;
			top: 65%;
		}
	.pausebtn {
		background: #ee3814;
		text-shadow: 2px 2px #ad2d07;
		box-shadow: 0px 0px 0px 4px #ad2d07, 0px 0px 0px 8px #eee3d7, 0px 0px 0px 12px #502e00;
		position: absolute;
		display: block;
		color: white;
		/*font-size: 2em;*/
		width: 20%;
		top: 4%;
		left: 4%;
	}
	a {
		text-decoration: none;
		color: white;
	}
	a:hover {
		text-decoration: none;
	}

	.gamescreen {
		display: none;
	}

	/*.menuscreen {
		display: block;
	}*/

	.deadscreen {
		display: block;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.4);
		position: absolute;
	}

	.deadwrap {
		top: 0;

		position: absolute;
		left: 10%;
		top: 14%;
		width: 80%;
		height: 320px;
		background: #f6efa6;
		border-radius: 12px;
		margin-left: -18px;
		padding: 18px;
		box-shadow:
		0px 0px 0px 4px #000,
		0px 0px 0px 8px #c5edf2;
	
	}

	.deadwrap .innerdead {

		height: 320px;
		background: #f6efa6;
		border: inset 3px #ffdda8;
		text-align: center;
		/*border-radius: 12px;*/
	/*	box-shadow:
		2px 2px 0px 2px #fff,
		-2px -2px 0px 2px #c5ad74,
		0px 0px 0px 12px #f6efa6,
		0px 0px 0px 12px #502e00;*/
	}

	.gameover {
		max-width: 90%;
		display: inline-block;
		margin: 12px auto;
	}

	.deadwrap .scorecard   {
		height: 120px;
		width: 100%;
	}

	.scoreleft , .scoreright {
		float: left;
		width: 50%;
		font-size: 2.4em;
		color: #ccb563;
	}

	.scorecard .scorenumb {
		font-size: 2em;
		color: white;
		text-shadow: -4px 0px 0px #000, 4px 0px 0px #000, 0px -4px 0px #000, 0px 4px 0px #000;
	}

	.retrywrap {
	
		bottom: 12px;
		width: 100%;
		text-align: center;
	}

	.retry {
		position: static;
		width: 20%;
		min-width: 180px;
		display: inline-block;
		bottom: 76px;
		background: #ee3814;
		text-shadow: 2px 2px #ad2d07;
		box-shadow: 0px 0px 0px 4px #ad2d07, 0px 0px 0px 8px #eee3d7, 0px 0px 0px 12px #502e00;
	}

	.spacer {
		width:100%;
	}




@media screen and ( min-width: 600px) {
	.logowrap {
		bottom: 0%;

	}

}